:is(header, main, footer) p:hover {
  color: red;
  cursor: pointer;
}

:is(header, main, footer), p:hover {
  color: red;
  cursor: pointer;
}

:is(header, main, footer)
p:hover {
  color: red;
  cursor: pointer;
}

:is(header, main, footer) {
  color: red;
  cursor: pointer;
}

:-webkit-any(header, main, footer) p:hover {
  color: red;
  cursor: pointer;
}

:-moz-any(header, main, footer) p:hover {
  color: red;
  cursor: pointer;
}

:matches(header, main, footer) p:hover {
  color: red;
  cursor: pointer;
}