inline-list() 
    li 
        display inline
    

comma-list() 
    inline-list()
    li 
        &:after 
            content ', '
        
        &:last-child:after 
            content ''
        
    

ul 
    comma-list()
