    @support-for-ie ?= true;

    @opacity(n){
      opacity: n;
      @if support-for-ie{
        filter: unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')}}

    #logo{
      &:hover{
        opacity: 0.5}}