  @pad(types = margin padding, n = 5px){@if padding in types{
    padding: unit(n, px)}@if margin in types{
    margin: unit(n, px)}}

  body{
    @pad()}

  body{
    @pad(margin)}

  body{
    apply-mixins : true;@if apply-mixins{
    @pad(padding, 10)}}