@media /*1*/ screen /*2*/ and /*3*/ (min-width 900px) // 4
  article
    padding 1rem 3rem

@supports (display: flex)
  @media /*5*/ screen /*6*/ and /*7*/ (min-width 900px) // 8
    article
      display flex
