
//1
body//2
  //3
  .foo//4
    //5
    .bar//6
      //7
      color red//8
      //9
    
    //9-2
    for num in 1 2 3//10
      //11
      padding num//12
      //13
    //13-2
    @nest & .baz//14
      //15
      color red//16
      padding 1px//17
      //18
      margin 1px
      //19
    //19-2
  //19-3
//19-4
//20
