.a
  -webkit-transition 1s // will be prefixed;
  -o-transition 1s // will be prefixed;
  transition 1s // will be prefixed

.b
  /* autoprefixer: off */
  transition 1s // will not be prefixed

.c
  /* autoprefixer: ignore next */
  transition 1s // will not be prefixed
  -webkit-mask url(image.png) // will be prefixed;
  mask url(image.png) // will be prefixed
