json('media-queries.json')

@media small
// => @media screen and (max-width:400px)
  body
    width: 0

@media tablet-landscape
// => @media screen and (min-width:600px) and (orientation:landscape)
  body
    width: 0

vars = json('vars.json', { hash: true })
body
  width: vars.width

vars = json('vars.json', { hash: true, leave-strings: true })
typeof(vars.icon)
// => 'string'

// don't throw an error if the JSON file doesn't exist
optional = json('optional.json', { hash: true, optional: true })
typeof(optional)
// => 'null'