/* http://stylus-lang.com/docs/operators.html */
5 == 5
/* => true */
10 > 5
/* => true */
a=#fff == #fff
/* => true */
true == false
/* => false */
a=wahoo == yay
/* => false */
a=wahoo == wahoo
/* => true */
"test" == "test"
/* => true */
true is true
/* => true */
'hey' is not 'bye'
/* => true */
'hey' isnt 'bye'
/* => true */
(foo bar) == (foo bar)
/* => true */
(1 2 3) == (1 2 3)
/* => true */
(1 2 3) == (1 1 3)
/* => false */
/* sample-operators12 */