/* https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/theme-default/styles/wrapper.styl*/

$wrapper{
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  @media (max-width: $MQNarrow){
    padding: 2rem}
  @media (max-width: $MQMobileNarrow){
    padding: 1.5rem}}
