/* http://stylus-lang.com/docs/operators.html */
15px - 5px
/* => 10px */
5 - 2
/* => 3 */
5in - 50mm
/* => 3.031in */
5s - 1000ms
/* => 4s */
20mm + 4in
/* => 121.6mm */
"foo " + "bar"
/* => "foo bar" */
"num " + 15
/* => "num 15" */