prefix = 'border'
border = {
    color: #000,
    length: 1px,
    style: solid
}
for prop, val in border 
    define(prefix + '-' + prop, val)

body 
    border: border-length border-style border-color
