@json('media-queries.json');

@media small{

  body{
    width: 0}}

@media tablet-landscape{

  body{
    width: 0}}

vars : json('vars.json', { hash: true });
body{
  width: vars.width}

vars : json('vars.json', { hash: true, leave-strings: true });
@typeof(vars.icon);



optional : json('optional.json', { hash: true, optional: true });
@typeof(optional)
