box-shadow() 
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments
    html.ie8 &, html.ie7 &, html.ie6 & 
        border 2px solid arguments[length(arguments) - 1]
    

body 
    #login 
        box-shadow 1px 1px 3px #eee
    
