/* http://stylus-lang.com/docs/operators.html */
vals = (error 'one') (error 'two')
error in vals
  
  
  ,(error 'one') in vals
  

  ,(error 'two') in vals
  

  ,(error 'something') in vals
  

  ,a {
    color: red
}