/* 1 */
body//2
    /* 3 */
    .foo//4
        /* 5 */
        .bar//6
            /* 7 */
            color red
        
        /* 9 */
        for num in 1 2 3//10
            /* 11 */
            padding num
        
        /* 13 */
        @nest & .baz//14
            /* 15 */
            color red
            padding 1px
            /* 18 */
            margin 1px
        
    

/* 19 */
/* 20 */
