apply(props) 
        props = arguments if length(arguments) > 1
        for prop in props 
                {prop[0]} prop[1]
    

body 
    apply(one 1, two 2, three 3)

body 
    list = (one 1) (two 2) (three 3)
    apply(list)
