@hash-foo = {
  bar: 1;
  @baz: {
    qux: 2;
  }
}

@hash-bar = {
  bar: 1;
  @baz: {
    qux: 2
  }
}

@hash-baz  = /*c0*/ { /* c1*/
  bar /*c2*/ : /*c3*/ 1 /*c4*/ ; /* c5*/
  @baz /*c6*/ : { /* c7*/
      qux /*c8*/  : /*c9*/  25551234
  }
}  /*c10*/
