hash-foo : {
  bar: 1,
  baz: {
    qux: 2,
  },
};

hash-bar : {
  bar: 1
  baz: {
    qux: 2
  }
};

hash-baz  : /*c1*/ { /* c2*/
 bar /*c3*/ : /*c4*/ 1 /* c5 */, /* c6*/
  baz /*c7*/ : /*c8*/ { /* c9*/
      qux   :  2
  } /*c10*/
}  /*c11*/
