@media screen  and  (min-width: 900px) // 4
    article 
        padding 1rem 3rem
    

@supports (display: flex) 
    @media screen  and  (min-width: 900px) // 8
        article 
            display flex
        
    

